@import 'styles/variables';

.title {
  color: #292b2f;
  font-family: 'Playfair Display';
  margin-bottom: 48px;
}
.recommendeds {
  border-radius: 2px;
  display: flex;
  flex-wrap: wrap;
  gap: 32px;
  justify-content: space-between;
}
.recommended {
  &__image {
    width: 300px;
    margin-bottom: 32px;
    img {
      border-radius: 8px;
      width: 100%;
    }
  }
  &__button {
    font-weight: 500;
    border: 2px solid #f72c29;
    color: #292b2f;
    width: 100%;
    background-color: transparent;
    border-radius: 8px;
    padding: 16px;
    &:hover {
      background: #f72c29;
      color: white;
      cursor: pointer;
    }
  }
}
.nossaCasa {
  margin-bottom: 100px;
  position: relative;
  width: 100%;
  img {
    border-radius: 5px;
    width: 100%;
  }
  &__endereco {
    align-items: center;
    background-color: $dark;
    border-radius: 5px;
    bottom: -45px;
    color: white;
    display: flex;
    flex-direction: column;
    font-weight: bold;
    height: 100px;
    justify-content: center;
    position: absolute;
    margin: 0 auto;
    left: 0;
    right: 0;
    width: 200px;
  }
}