@import "styles/variables";

.teste {
  color: #292b2f;
  &--active {
    color: white;
  }
}

.icon {
  fill: #292b2f;
  &--active {
    fill: white;
  }
}

.computer {
  align-items: center;
  background-color: #e8e8e9;
  border: none;
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
  padding: 16px;
  min-width: 192px;
  margin-left: 16px;
  position: relative;
  color: #292b2f;
  &:hover {
    cursor: pointer;
  }
  &--active {
    background-color: #f72c29;
    color: #292b2f;
  }
  &__options {
    display: none;
    position: absolute;
    left: 0;
    flex-direction: column;
    top: calc(100% + 8px);
    width: 100%;
    &--active {
      display: flex;
    }
  }
  &__option {
    align-items: center;
    background-color: #e8e8e9;
    box-sizing: border-box;
    display: flex;
    padding: 16px;
    justify-content: center;
    width: inherit;
    &:first-child {
      border-start-start-radius: 8px;
      border-start-end-radius: 8px;
    }
    &:last-child {
      border-end-end-radius: 8px;
      border-end-start-radius: 8px;
    }
    &:hover {
      background-color: #f72c29;
      color: white;
    }
    &--active {
      cursor: pointer;
    }
  }
}
