@import "styles/variables";

.filters {
  display: flex;
  gap: 8px;
  flex-wrap: wrap;
  &__filter {
    color: #292b2f;
    align-items: center;
    background-color: #e8e8e9;
    border: none;
    border-radius: 8px;
    display: flex;
    padding: 16px;
    justify-content: center;
    &--active {
      background-color: #f72c29;
      color: white;
    }
    &:hover {
      cursor: pointer;
    }
  }
}
