@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Playfair+Display&display=swap");

body {
  background-color: #f6f6f6;
}

* {
  font-family: "Inter";
  box-sizing: border-box;
}

#root > main.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
