@import "styles/variables";
@import "styles/breakpoints";

.nav {
  justify-content: space-between;
  display: flex;
  padding: 48px $px;
  @media (max-width: $desktop_xsm) {
    padding: 24px $px-mobile;
  }
  @media (min-width: $desktop_xsm) and (max-width: $desktop_sm) {
    padding: 24px $px-sm;
  }
  @media (min-width: $desktop_sm) and (max-width: $desktop_md) {
    padding: 24px $px-md;
  }
  &__logo {
    text-decoration: none;
    color: #292b2f;
    &:hover {
      color: #f72c29;
    }
    > h1 {
      font-family: "Playfair Display";
      font-size: 48px;
      font-weight: 400;
    }
  }
  &__list {
    align-items: center;
    display: flex;
  }
  &__link {
    list-style-type: none;
    padding: 0 16px;
    a {
      color: #292b2f;
      cursor: pointer;
      font-size: 16px;
      text-decoration: none;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}
