@import "styles/variables";
@import "styles/breakpoints";

.header {
  align-items: center;
  background-image: url("/assets/menu/header.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  min-height: 544px;
  padding: 0px $px;
  @media (max-width: $desktop_xsm) {
    padding: 0px $px-mobile;
  }
  @media (min-width: $desktop_xsm) and (max-width: $desktop_sm) {
    padding: 0px $px-sm;
  }
  @media (min-width: $desktop_sm) and (max-width: $desktop_md) {
    padding: 0px $px-md;
  }
  &__searchbox {
    justify-content: space-between;
    align-items: center;
    width: 100%;
    display: flex;
    background-color: #f8f8f9;
    padding: 24px;
    border-radius: 8px;
    @media (max-width: 1440px) {
      flex-direction: column;
      gap: 16px;
    }
  }
}

.menu {
  padding: 48px $px;
  @media (max-width: $desktop_xsm) {
    padding: 48px $px-mobile;
  }
  @media (min-width: $desktop_xsm) and (max-width: $desktop_sm) {
    padding: 48px $px-sm;
  }
  @media (min-width: $desktop_sm) and (max-width: $desktop_md) {
    padding: 48px $px-md;
  }
  &__title {
    font-family: "Playfair Display";
    color: #292b2f;
    font-size: 48px;
    font-weight: 400;
  }
}

.filters {
  display: flex;
  @media (max-width: 848px) {
    gap: 16px;
    flex-direction: column;
  }
}
